*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: linen;
  background-color: rgb(60, 68, 76);
}

.heading {
  background-color: darkslategrey;
  padding: 1rem;
}

.heading-title {
  color: darkorange;
  text-align: center;
}
